@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.header {
  background-color: #1f2937;
  padding: 0 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  padding: 10px;
}

.logo > img {
  width: 150px;
}

li > a:hover {
  transition: all 0.2s;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.hero-paragraph {
  width: 400px;
}

.hero-paragraph > h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

.hero-paragraph > p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 100;
}

.sign-up {
  background-color: #3882f6;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
  color: #f9faf8;
}

.sign-up:hover {
  background-color: #0077b6;
  transition: all 0.4s;
}

.hero-ava > img {
  width: 300px;
}

/* Products Section */

.products {
  padding: 20px 300px;
  text-align: center;
  padding-bottom: 70px;
}

.products > h2 {
  font-size: 36px;
  color: #1f2937;
}

.gundam > p {
  margin-top: 5px;
}

.product-lists {
  display: flex;
  justify-content: space-between;
}

.gundam-img > img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}
/* Quote Section */

.quote {
  background-color: #e5e7eb;
  padding: 100px 330px;
}

.paragraph-quote > p {
  font-size: 36px;
  font-style: italic;
}

.p-quote {
  text-align: right;
  font-weight: bold;
}

/* Signup Section */
.signup-section {
  padding: 80px 250px;
}

.signup-container {
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.signup-paragraph {
  color: #f9faf8;
}

.signup-paragraph > p {
  margin: 10px 0;
}

.signup-button > button {
  border: 1px solid white;
}

/* Footer Section */
.footer {
  background-color: #1f2937;
  text-align: center;
  color: #f9faf8;
  padding: 10px 0;
}

p > a {
  text-decoration: underline;
}
